html {
    height: 100%;
}
body{
	
	height: 100%;
	width: 100%;
    background-repeat: no-repeat;
	background: linear-gradient(#15BFA8,#033D76);
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: auto;
	text-align: center;
}

	


.gradient{
	height: 100%;
	width: 100%;
	background-color: transparent;
	background: linear-gradient(#15BFA8,#000B4C);

	margin: auto auto;
}
.quote{
	margin: 0;
	padding: 0;
	color: white;
	
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: tohoma;
	

	transform: translateY(-50%);
}
.comingSoon{
	color: red;
	font-family: tohoma;
	bottom: 0;
	right: 0;
	position: absolute;
	padding: 12em 12em;
	

.quotation{
	font-size: 8%;
}
