* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body{
	
	height: 100%;
	width: 100%;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: 15px;
	text-align: center;
	background-color: black;
}

input::-webkit-input-placeholder {
    text-transform: none;
    color: #ca3d3e;
}
input::-moz-placeholder {
    text-transform: none;
    color: #ca3d3e;
}
input:-moz-placeholder {   /* Older versions of Firefox */
    text-transform: none;
    color: #ca3d3e;
}
input:-ms-input-placeholder {
    text-transform: none;
    color: #ca3d3e;
}
img{
	max-width: 100%;
}
@media(min-width: 800px){
	.spread-body{
		background-repeat: no-repeat;
		/*background: linear-gradient(#222222,#808080);*/
		background-image: url(../images/background.jpg);
		background-size: auto;
		height: 100%;
		width: 100%;
		margin: auto auto;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		background-position: center;
   		background-repeat: no-repeat;
    	background-size: cover;
	}

	.logo{
		 position: absolute; 
		 top: 0; 
		 left: 0;
		 padding-bottom: 30px;
		 max-height: 170px;
		 max-width: 200px;
		}
	.logo-class{
		background-color: black;
	}
	.tagline{
		 position: absolute; 
		 top: 0; 
		 right: 0;
		 margin: 1.5%; 
		 size: 12px;
		 
		}
	

	.quote{
		margin: 0;
		padding: 0;
		color: black;
		text-align: center;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		font-family: tahoma;
		
	}

	.quotation{
		font-size: 2.2vw;
	}

	.email-class{
		max-width: 500px;
	    padding: 12px;
	    resize: horizontal;
	    margin: auto auto;
	    background-color: white;
	}
	.sub-btn {
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		color:white;
		background-color: #ca3d3e;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		display: inline-block;
		height: 36px;
		padding: 0 26px;
		margin: 6px 0;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		background-image: none;
		text-align: center;
		line-height: 36px;
		vertical-align: middle;
		white-space: nowrap;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-size: 14px;
		font-family: inherit;
		letter-spacing: 0.03em;
		position: relative;
		overflow: hidden;
		}

	.sub-btn:hover, .sub-btn:focus, .sub-btn:active {
	    color: #ca3d3e;
		background-color: white;
	}

	.link{
		color:  #ca3d3e;
	}

	.link:hover, .link:focus, .link:active{
		color: #800000;
	}

	.coming-soon-text{
		position: absolute; 
		bottom: 0; 
		right: 0; 
		padding: 20px 20px;
		font-size: 2.7vw;
		font-family: Georgia, serif;
		background-color: transparent;
		color: #222222;
	}
}

@media(max-width: 800px){

	.spread-body{


		background-repeat: no-repeat;
		/*background: linear-gradient(#222222,#808080);*/
		background-image: url(../images/background.jpg);
		background-size: auto;
		height: 100%;
		width: 100%;
		margin: auto auto;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		background-position: center;
   		background-repeat: no-repeat;
    	background-size: cover;
	}

	.logo{
		 position: static; 
		 top: 0; 
		 left: 0;
		 max-height: 100px;
		 max-width: 130px;
		 margin-bottom: 20px;
		}

	.tagline{
		 position: static; 
		 top: 0; 
		 right: 0;
		 size: 12px;
		 color: white;
	}

	.quote{
		margin: 0;
		padding: 0;
		color: 	black;
		text-align: center;
		position: relative;
		top: 30%;
		transform: translateY(-50%);
		font-family: tahoma;
		z-index: 100;
		float: bottom;
		
	}

	.quotation{
		font-size: 1.05em;
	}

	.email-class{
		max-width: 500px;
	    padding: 12px;
	    resize: horizontal;
	    margin: auto auto;
	    background-color: #909090;
	    float: bottom;
	}
	.sub-btn {
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		color: white;
		background-color: #ca3d3e;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		display: inline-block;
		height: 36px;
		padding: 0 26px;
		margin: 6px 0;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		background-image: none;
		text-align: center;
		line-height: 36px;
		vertical-align: middle;
		white-space: nowrap;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-size: 14px;
		font-family: inherit;
		letter-spacing: 0.03em;
		position: relative;
		overflow: hidden;
		float: bottom;
		}

	.sub-btn:hover, .sub-btn:focus, .sub-btn:active {
	    color: #ca3d3e;
		background-color: white;
	}

	.link{
		color: #800000;
	}
	.link:hover, .link:focus, .link:active{
		color: #800000;
	}

	.coming-soon-text{
		position: fixed; 
		bottom: 0; 
		right: 0; 
		padding: 20px 20px;
		font-size: 15px;
		
		font-family: Georgia, serif;
		background-color: transparent;
		color: #222222;
		/*float: bottom;*/
	}

	.coming-soon{
		float: bottom;
	}



}
