@font-face {
font-family: "pro-font";
src: url("fonts/ProFontWindows.ttf") format("truetype");

}
@font-face {
font-family: "ocra";
src: url("fonts/OCRAEXT.TTF") format("truetype");

}

* {
    box-sizing: border-box;
}

html {
	height: 100%;
}
body{
	
	height: 100vh;
	width: 100%;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: 7px;
	text-align: center;
	background-color: black;
}

input::-webkit-input-placeholder {
    text-transform: none;
    color: white;
}
input::-moz-placeholder {
    text-transform: none;
    color: white;
}
input:-moz-placeholder {   /* Older versions of Firefox */
    text-transform: none;
    color: white;
}
input:-ms-input-placeholder {
    text-transform: none;
    color: white;
}
input.email-class{
	outline-width: 0;
}
img{
	max-width: 100%;
}

#gridContainer { padding: 20px; }
	.grid-row > div { 
		
		padding: 10px;
		
		margin: 5px 0; 
	}

.icons{
	position: absolute;
	font-size:1.5em;
	bottom: 5%;
	right: 45%;
	text-align: center;
	background-color: transparent;

}

.icons i{
	margin: 0 15px;
	color: white;
}



@media(min-width: 768px){
	backquote{
		margin-left:25%;
	}

	.icons{
		margin-left:13%;
		margin-top:13%;
	}
	.fa{
		margin-left:2% ;
	}

	.spread-body{
		background-repeat: no-repeat;
		background-image: url(../images/astronomy.jpg);
		background-size: auto;
		height: 100%;
		width: 100%;
		margin: auto;
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		background-position: center;
    	background-size: cover;
	}

	.logo{
		 position: fixed; 
		 top: 0; 
		 right: 4%;
		 padding:0;
		 max-height: 190px;
		 max-width: 220px;
		}
	.logo-class{
		background-color: black;
	}

	.tagline{
		 position: absolute; 
		 top: 0; 
		 right: 0;
		 margin: 1.5%; 
		 size: 12px;
		 
	}
	
	.quote{
		margin: 5%;
		padding: 0;
		color: white;
		text-align: left;
		position: relative;
		top: 20vw;
		transform: translateY(-50%);
		text-align: justify;
	}

	.quotation{
		font-size: 1.4vw;
		font-family: "pro-font";
	}

	.link-div{
		width: 400px;
		background-color: transparent;
		height: 50px;
		text-align: left;
		top: 20vw;
		left: 0;

	}

	.link{


		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		color:white;
		border: solid white 0.8px;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		display: inline-block;
		height: 36px;
		padding: 0 26px;
		margin: 6px 0;
		cursor: pointer;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		background-image: none;
		text-align: left;
		line-height: 36px;
		white-space: nowrap;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-size: 14px;
		font-family: 'pro-font';
		letter-spacing: 0.03em;
		position: relative;
		text-align: justify;
		overflow: hidden;

	}

	.link:hover, .link:focus, .link:active{
		color: white;
		border: solid white 0.8px;
		text-decoration:none;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		
	}


	.coming-soon-text{
		position: absolute; 
		width: 30vw;
		bottom: 10px; 
		right: 2%;
		padding: 20px 20px;
		font-size: 1em;
		font-family: 'ocra';
		text-align: justify-all;
		background-color: transparent;
		color: white;
		opacity: 0.75;


	}
	.panel{
		background-color: red;
	}
}

@media(max-width: 768px){
	/*backquote{
		margin-left:15%;
	}*/
	.spread-body{


		background-repeat: no-repeat;
		background-image: url(../images/astronomy.jpg);
		background-size: auto;
		height: 100%;
		width: 100%;
		margin: auto auto;
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		background-position: center;
   		background-repeat: no-repeat;
    	background-size: cover;
    }

    .logo-class{
    	text-align: center;
    }


	.logo{
		 position: relative; 
		 margin: 0 auto;
		 max-height: 127.5px;
		 max-width: 157.5px;
		 margin-bottom: 15%;
		 
		}


	.quote{
		margin: 5%;
		padding: 0;
		color: white;
		text-align: center;
		position: relative;
		top: 20%;
		transform: translateY(-50%);
		z-index: 100;
		text-align: justify;
		word-spacing: 4px;
		
	}

	.quotation{
		font-size: 1.05em;
		font-family: "pro-font";
	}

	.email-class{
		max-width: 500px;
		min-width: 150px;
	    padding: 4.8px;
	    color: white;
	    resize: horizontal;
	    margin: auto auto;
	    background-color: transparent;
	    border: solid white 0.8px;
	}


	.link{

		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color:white;
		background-color: transparent;
		border: solid white 0.8px;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		display: inline-block;
		height: 36px;
		padding: 0 26px;
		left: 8%;
		text-align: center;
		cursor: pointer;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		background-image: none;
		text-align: center;
		line-height: 36px;
		vertical-align: middle;
		white-space: nowrap;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-size: 14px;
		font-family: 'pro-font';
		letter-spacing: 0.03em;
		position: relative;
		overflow: hidden;
	}

	.link:hover, .link:focus, .link:active{
		color:white;
		border: solid white 1.2px;
		text-decoration: none;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}

	.coming-soon-text{ 
		position: absolute;
		bottom: 1.85em; 
		right: 0; 
		padding: 20px 20px;
		font-size: .9em;
		font-family: "ocra";
		background-color: transparent;
		color: white;
		opacity: 0.75;
	}

	.coming-soon{
		float: bottom;
	}
	.icons{
		padding: 0 0.3vw;
		margin-top:8%;
		background-color: transparent;
		right: 30%;
		
	}
	.fa{
		margin-left:10%;
	}



}
