html {
    height: 100%;
}
body{
	
	height: 100%;
	width: 100%;
    background-repeat: no-repeat;
	background: linear-gradient(#000000,#434343);
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: auto;
	text-align: center;
}

	


.gradient{
	height: 100%;
	width: 100%;
	background-color: transparent;
	margin: auto auto;
}
.quote{
	margin: 0;
	padding: 0;
	color: white;
	/*display: inline-block;*/
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: tohoma;
	

	/*transform: translateY(-50%);*/
}
.comingSoon{
	color: red;
	font-family: tohoma;
	bottom: 0;
	right: 0;
	position: absolute;
	padding: 12em 12em;
	/*text-decoration: */
}

.quotation{
	font-size: 2em;
}
/*div { 
    background: red;
    overflow: hidden; 
    text-align: center;
}

span a {
    background: #222;
    color: #fff;
    display: inline-block;
    float:left;  remove 
    margin: 10px 10px 0 0;
    padding: 5px 10px
}
*/